deb {{ debian_mirror }} {{ ansible_distribution_release }} main
deb {{ debian_mirror }} {{ ansible_distribution_release }}-updates main
deb {{ debian_mirror }} {{ ansible_distribution_release }}-backports main
deb {{ debian_security_mirror }} {{ ansible_distribution_release }}/updates main
